@media(max-width: 1400px){
    .blueArr{
top: -40% !Important;
    }
    .redArr{
bottom: -70% !Important;
    }
}

@media(max-width:1200px){
    .para{
        font-size:15px ;
        line-height:20px ;
    }
    .head{
        font-weight: 800;
        font-size: 30px ;
        line-height: 20px;
    }
}
@media(max-width:450px){
    .smImg4{
        top: 98% !Important;
        left: 32% !Important;
    }
}
@media(max-width:768px){
    .smImg3{
        left: 23% !Important;
    }
}
@media(max-width:555px){
    .smImg3{
        left: 21% !Important;
        height: 50vh;
        width: 40vw;
    }
}
@media(max-width:462px){
    .smImg3{
        left: 14% !Important;
        top: -10% !Important;
        height: 55vh;
        width: 47vw;
    }
}
@media(max-width:400px){
    .smImg3{
        left: 11% !Important;
    }
}


@media screen and (min-width: 1320px) and (max-width:1457px){
    .para{
        font-size: 18px;
        line-height: 25px;
    }
 
}
@media screen and (min-width: 1458px ) and (max-width:1600px) {
    .head{
        font-size: 36px;
        line-height: 40px;
    }
    .para{
        font-size: 20px;
        line-height: 28px;
    }
}
@media screen and  (min-width: 1601px) and (max-width: 1796px) {
    .imagee4{
        bottom: -32% !important;
    }
    .imagee6{
        bottom: -50% !important;
    }

    .para{
        font-size: 25px;
        line-height: 30px;
    }
    .head{
        font-size: 36px;
        line-height: 40px;
    }
}
@media screen and (min-width:1797px) and (max-width: 1924px){
    .para{
        font-size: 27px;
        line-height: 32px;
    }
    .head{
        font-size: 38px;
        line-height: 40px;
    }
}

@media(min-width:1925px){
    .para{
        font-size: 30px ;
        line-height: 38px ;
    }
    .head{
        font-size: 42px;
        line-height: 43px;
    }
}