.HeroMobile
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/HeroSectionGif.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 4rem;
}
.RegisterStrip
{
    /* background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/HeroMobileBackgroundStrip.webp"); */
    background-image: url("../../assets/videos/HeroMobileBackgroundStrip.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.StripButton
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/HeroMobileRegisterButton.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.MainBackgroundHero
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/HeroSectionGif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 12rem;
}