.HeroMobile
{
    background-image: url("../../assets/videos/HeroSectionGif.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 4rem;
}
.RegisterStrip
{
    background-image: url("../../assets/images/HeroMobileBackgroundStrip.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.StripButton
{
    background-image: url("../../assets/images/HeroMobileRegisterButton.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.MainBackgroundHero
{
    background-image: url("../../assets/videos/HeroSectionGif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 12rem;
}