.MascotBackground
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/mascotBackground.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.NetraDiv
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/NetraBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.NetraButton
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/Group96.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.NetraOriginDiv
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/chroniclesBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}