.HeadingBar
{
    background-image: url("../../assets/images/PortalHeading.png");
}
.PortalMain
{
    background-image: url("../../assets/images/portalBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .PortalMain img
{

} */