.HeadingBar {
  background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/PortalHeading.webp");
}
.PortalMain {
  background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/portalBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .PortalMain img
{

} */
