.normal-page {
    background-image: url('https://d2tfnz5m7k1weq.cloudfront.net/NormalRegistration.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
.RegisterforEvent1
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/RegisterForEvent.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.RegisterforEvent2
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/FinalRegistrationBg.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Isparticipants
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/IsParticipantBackground.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.normal-form {
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/PreRegisterBackground.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.reg_suc
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/RegisterSuccessful.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.NormalFormDiv
{
    
}

.text-box,
.normal-select select {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    );
}
.normal-select option {
    background: rgb(22, 19, 52);
    color: #fff;
}
.normal-select option:hover {
    background: rgba(39, 69, 104, 1);
}

@media screen and (max-width: 912px) {
    .normal-page {
        background: url("https://d2tfnz5m7k1weq.cloudfront.net/NormalRegistration.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}
