.DramaTitle
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/DramaTitle.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.FashionBg
{
   background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/FashionBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.QuizzingaBg
{
   background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/QuizzingaBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.MusicBg
{
   background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/MusicBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.DramaBg
{
   background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/DramaBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.DramaTextBox
{
    background-image: url("https://d2tfnz5m7k1weq.cloudfront.net/DramaTextBox.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

