.DramaTitle
{
    background-image: url("../../assets/images/DramaTitle.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.FashionBg
{
   background-image: url("../../assets/images/FashionBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.QuizzingaBg
{
   background-image: url("../../assets/images/QuizzingaBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.MusicBg
{
   background-image: url("../../assets/images/MusicBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.DramaBg
{
   background-image: url("../../assets/images/DramaBg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.DramaTextBox
{
    background-image: url("../../assets/images/DramaTextBox.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

