.normal-button {
    border-left: 0.7px solid #fff;
    border-top: 0.7px solid #fff;
    transition: all 0.5s ease-in-out;
    border-radius: 89.1539px;
}
.normal-button:hover {
    background-color: #bb61d6;
    box-shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 89.1539px;
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
    /* appearance: none; */
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    accent-color: white;
}

/* Selected state */
.custom-radio input[type="radio"]:checked {
    /* background: whitesmoke; */
    border-color: white;
    
}
